body {
    text-transform: capitalize;
    font-family: Source Serif Pro;
    line-height: 1.8;
}

#layer {
    background-color: #000000d8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    display: none;
}


#main-search {
    background-color: transparent;
    border: none;
    border-bottom:1px solid #fff;
    padding: 20px;
    font-size: 3.75rem;
    color: #fff;
    outline: none;
}


.search-icon {
    font-size: 3.125rem;
    position: relative;
    top: 0;
    right: 70px;
}

#main-search:focus {
    border-bottom: 2px solid #fff; /* Change border thickness on focus */
}


.container {
    width: 80%;
}

.header{
    color: #fff;
}

:root {
    --first-sec: #101010;
    --second-sec: #161616;
    --third-sec : #1D1D1D;
    --main-color: #7D8585;
    --secondary-color : #606060;
}

nav {
    transition: all 0.5s;
}

/* global  */

#info {
    min-height: 40vh;
    background-color: var(--first-sec);
}

/* info  */

#about-me {
    height: fit-content;
    background-color: var(--second-sec);
    color: var(--main-color);
}



/* about me  */

#start {
    height: fit-content;
    background-color: var(--third-sec);
}

#start .start-info {
    color: var(--main-color);
}

/* start  */

#skills {
    min-height: fit-content;
    background-color: var(--second-sec);
}

.skill i {
    color: white;
    font-size: 1.875rem;
    padding: 30px;
    border-radius: 50%;
    background-color: #333333;
}

.skill h3 {
    color: white;
    font-size: 1.25rem;
    padding-block: 17px;
}

.skill p {
    color: var(--main-color);
}


/*  skill  */

#our-goals {
    height: fit-content;
    background-color: var(--third-sec);
    overflow: hidden;
}

#our-goals .buttons button {
    font-size: .875rem;
}

#our-goals p {
    color: var(--main-color);
}

/* our goals  */
#footer {
    min-height: 40vh;
    background-color: var(--first-sec);
}

#footer {
    color: var(--secondary-color);
    font-size: .8125rem;
}

#footer span a {
    color: gray;
}

#footer span a i {
    transition: all 1s;
}

#footer .facebook:hover {
    color: blue;
}

#footer .instagram:hover {
    color: hotpink;
}

#footer .linkedin:hover {
    color: white;
}

#footer .github:hover {
    color: white;
}

#footer span  a i {
    padding-inline: 10px;
    font-size: 1.5rem;
}

/* --- footer ---  */