body {
    text-transform: capitalize;
    font-family: Source Serif Pro;
    line-height: 1.8;
    overflow-x: hidden;
}

#layer {
    background-color: #000000d8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    display: none;
}

#hr {
    color: #7d7d7d;
    width: 100%;
}

#main-search {
    background-color: transparent;
    border: none;
    border-bottom:1px solid #fff;
    padding: 20px;
    font-size: 3.75rem;
    color: #fff;
    outline: none;
}


.search-icon {
    font-size: 3.125rem;
    position: relative;
    top: 0;
    right: 70px;
}

#main-search:focus {
    border-bottom: 2px solid #fff; /* Change border thickness on focus */
}

.container {
    width: 80%;
}

.header{
    color: #fff;
}

:root {
    --first-sec: #101010;
    --second-sec: #161616;
    --third-sec : #1D1D1D;
    --main-color: #7D8585;
    --secondary-color : #606060;
}

/* global  */
nav {
    transition: all 0.5s;
}


nav .container a i {
    font-size: 1.25rem;
}

#nav .navbar-brand img {
    height: 46px;
}


/* navbar  */


#home {
    background-image: url('../images/full-3.jpg');
    background-size: cover;
    background-position: center center;
}



.home-info h1 {
    font-size:  3.75rem;
}

.home-info p {
    color: var(--main-color);
    font-size: 1.25rem;
    
}


.home-info button {
    font-size: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
}


/* home */

#welcoming {
    min-height: 40vh;
    background-color: var(--first-sec);
}



#welcoming p {
    color: var(--secondary-color);
    width: 60%;
}

/* welcoming  */

#about-us {
    min-height: 80vh;
    background-color: var(--second-sec);
    overflow: hidden;
}

#about-us p {
    color: var(--main-color);
}

#hr {
    color: #7d7d7d;
    width: 100px;
}

#about-us .img img {
    height: 500px;
    width: 600px;
}


/* about-us  */

#latest-albums {
    min-height: fit-content;
    background-color: var(--first-sec);
}

#latest-albums .latest-albums-info p,
#latest-albums .latest-albums-info ul li  {
    color: var(--main-color);
}

#latest-albums .latest-albums-info ul li {
    text-decoration: none;
    margin-inline: 10px;
    padding-block: 7px;
    transition: all 0.5s;
    cursor: pointer;
}


#latest-albums .latest-albums-info ul li:hover {
    color: white;
}

#latest-albums .gallary .photo img {
    width: 100%;
    transition: all 0.7s;
}

#latest-albums .gallary .photo .layer {
    background-color: #00000092;
    opacity: 0;
    transition: 0.7s;
}

#latest-albums .gallary .photo {
    overflow: hidden;
    
}

#latest-albums .gallary .photo:hover img {
    transform: scale(1.1);
}

#latest-albums .gallary .photo:hover .layer {
    opacity: 1;
}

#latest-albums .gallary .photo .layer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    transition: all 1s;
}

#latest-albums .gallary .photo .layer a:hover {
    background-color:  #ffffffa0 !important;
}

#latest-albums .button-div button {
    font-size: .9375rem;
    font-weight: 400;
}

.activated {
    color: white !important;
    border-bottom: 1px solid var(--main-color);
}

/* latest-albums  */


#latest-news {
    min-height: 80vh;
    background-color: var(--second-sec);
}

#latest-news .latest-news-info p {
    color: var(--main-color);
}

#latest-news .news .post  .post-info{
    background-color: #232323;
    padding: 20px;
}

#latest-news .news span {
    color: var(--secondary-color);
    font-size: .8125rem;
}

#latest-news .news p {
    color: var(--main-color);
}

#latest-news .news i {
    padding-left: 5px;
}

/* latest-news  */

#footer {
    min-height: 40vh;
    background-color: var(--first-sec);
}

#footer {
    color: var(--secondary-color);
    font-size: .8125rem;
}

#footer span a {
    color: gray;
}

#footer span a i {
    transition: all 1s;
}

#footer .facebook:hover {
    color: blue;
}

#footer .instagram:hover {
    color: hotpink;
}

#footer .linkedin:hover {
    color: white;
}

#footer .github:hover {
    color: white;
}

#footer span  a i {
    padding-inline: 10px;
    font-size: 1.5rem;
}
