<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../images/logo-light.png"
      type="image/x-icon"
    />

    <!-- ✅ Use Owl Carousel from CDN (instead of node_modules) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />

    <!-- AOS Animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Your Other Stylesheets -->
    <link rel="stylesheet" href="../css/all.min.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/blog.css" />
    <link rel="stylesheet" href="../css/style.css" />
        <link rel="shortcut icon" href="../images/logo-light.png" type="image/x-icon">
    <title>blog</title>
</head>
<body>
    <div id="layer" class=" w-100 vh-100 position-fixed">
        <form action="" class="search-form w-100 text-center">
            <input id="main-search" maxlength="24" type="serch" placeholder="Search..." class="w-50 mx-auto">
            <a href="#" id="search-result"><i class="fa-solid fa-magnifying-glass text-white px-2 search-icon"></i></a>
        </form>
    </div>


    <nav
      id="mynav"
      class="navbar navbar-expand-lg  navbar-dark position-fixed w-100 z-3 bg-dark"
    >
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img src="../images/engage-photography.png" id="logo" alt="logo"
        /></a>
        <button
          id="menu"
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " href="../index.html">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="blog.html">blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">contact</a>
            </li>
          </ul>
          <a href="#" class="search-link"
            ><i class="fa-solid fa-magnifying-glass text-white px-2"></i
          ></a>
        </div>
      </div>
    </nav>

    <!-- nav-bar  -->

    <main>
      <section id="home">
        <div class="container d-flex justify-content-between align-items-center flex-row h-100">
          <h1 class="text-white" data-aos="fade-right" data-aos-delay="200">blog</h1>
          <p class="pt-2" data-aos="fade-left" data-aos-delay="200"><a href="index.html" class="pe-2 text-decoration-none">home</a>  / <span class="home-blog-text ps-2">blog</span></p>    
        </div>
      </section>

      <section id="blog">
        <div class="container py-5">
          <div class="row g-5">
            <div class="col-lg-9">
              <div class="card"  data-aos="fade-right" data-aos-delay="200">
                <img src="../images/romain-lours-133986-600x420.jpg" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-white py-3">Simple Post</h5>
                  <span class="card-text py-3">By Philip on April 22, 2017</span>
                  <p class="card-text py-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#">read more <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
              </div>
              <div class="card mt-5"  data-aos="fade-left" data-aos-delay="200">
                <div class="card-images owl-carousel owl-theme">
                  <div class="item">
                    <img src="../images/photo-1484519332611-516457305ff6-800x700.jpg" class="card-img-top w-100" alt="...">
                  </div>
                  <div class="item">
                    <img src="../images/romain-lours-133986-600x420.jpg" class="card-img-top w-100" alt="...">
                  </div>
                  <div class="item">
                    <img src="../images/full-3.jpg" class="card-img-top w-100" alt="...">
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-white py-3">Simple Post</h5>
                  <span class="card-text py-3">By Philip on April 22, 2017</span>
                  <p class="card-text py-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#">read more <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
              </div>
              <div class="card mt-5"  data-aos="fade-right" data-aos-delay="200">
                <div class="quote text-white card-img-top w-100 p-4">
                  <h3>two things are infinite: the universe and human stupidity; and i'm not sure about the universe.</h3>
                  <p>- albert einstein</p>
                </div>
                <div class="card-body">
                  <h5 class="card-title text-white py-3">Simple Post</h5>
                  <span class="card-text py-3">By Philip on April 22, 2017</span>
                  <p class="card-text py-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#">read more <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
              </div>
              <div class="card mt-5"  data-aos="fade-left" data-aos-delay="200">
                <img src="../images/lesly-b-juarez-199312-600x.jpg" class="card-img-top w-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-white py-3">Simple Post</h5>
                  <span class="card-text py-3">By Philip on April 22, 2017</span>
                  <p class="card-text py-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#">read more <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="side-bar" data-aos="fade-left" data-aos-delay="200">
                <form action="" id="blog-form" class="p-1 d-flex justify-content-between">
                  <input id="blog-input" type="search" class="px-2 text-white" placeholder="Search...">
                  <a href="" class="px-3 py-2"><i class="fa-magnifying-glass fa-solid"></i></a>
                </form>
              </div>
              <hr id="hr" class="my-4">
              <h4 class="text-white pt-3" data-aos="fade-left" data-aos-delay="200">recent posts</h4>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> simple post
                </a>
              </p>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> Gallery Post
                </a>
              </p>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> Basic Post
                </a>
              </p>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> Quote Post
                </a>
              </p>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> Standard Post
                </a>
              </p>
              <hr id="hr">
              <h4 class="text-white pt-3">recent comments</h4>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right text-black"></i></span> Phil on Simple Post
                </a>
              </p>
              <hr id="hr">
              <h4 class="text-white pt-3">Archives</h4>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> April 2017
                </a>
              </p>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> February 2017
                </a>
              </p>
              <hr id="hr">
              <h4 class="text-white pt-3">Categories</h4>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> Classes
                </a>
              </p>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> Photography
                </a>
              </p>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> Travel
                </a>
              </p>
              <hr id="hr">
              <h4 class="text-white pt-3">meta</h4>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> Log in
                </a>
              </p>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> Entries RSS
                </a>
              </p>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> Comments RSS
                </a>
              </p>
              <p class="my-4" data-aos="fade-left" data-aos-delay="200"> 
                <a href="#" class=" side-links">
                  <span class="pe-2"><i class="fa-solid fa-angle-right"></i></span> WordPress.org
                </a>
              </p>
            </div>
          </div>
        </div>
      </section>

      <footer id="footer">
        <div class="container">
          <div
            class="footer-content p-5 d-flex justify-content-center align-items-center flex-column"
          >
            <img src="../images/engage-photography.png" alt="" />
            <p class="py-4">Copyright 2017. All rights reserved.</p>
            <span class="d-flex justify-content-between align-items-center">
              <a
                href="https://www.linkedin.com/in/abdelrhmankhaledmohamed76/"
                target="_blank"
                ><i class="fa-brands fa-linkedin-in linkedin"></i
              ></a>
              <a
                href="https://www.instagram.com/abdalrhman.khaled76/"
                target="_blank"
                ><i class="fa-brands fa-instagram instagram"></i
              ></a>
              <a
                href="https://www.facebook.com/profile.php?id=100007781251288"
                target="_blank"
                ><i class="fa-brands fa-facebook-f facebook"></i
              ></a>
              <a href="https://github.com/AbdelrhmanKhaled76" target="_blank"
                ><i class="fa-brands fa-github github"></i
              ></a>
            </span>
          </div>
        </div>
      </footer>

    </main>

        <!-- java script import -->
        <script src="../node_modules/jquery/dist/jquery.js"></script>
        <script src="../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="../js/bootstrap.bundle.min.js"></script>
        <script src="../js/index.js"></script>
</body>
</html>