<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../images/logo-light.png"
      type="image/x-icon"
    />

    <!-- ✅ Use Owl Carousel from CDN (instead of node_modules) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />

    <!-- AOS Animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Your Other Stylesheets -->
    <link rel="stylesheet" href="../css/all.min.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/contact.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="../images/logo-light.png" type="image/x-icon">
    <title>contact</title>
</head>
<body>
    <div id="layer" class=" w-100 vh-100 position-fixed">
        <form action="" class="search-form w-100 text-center">
            <input id="main-search" maxlength="24" type="serch" placeholder="Search..." class="w-50 mx-auto">
            <a href="#" id="search-result"><i class="fa-solid fa-magnifying-glass text-white px-2 search-icon"></i></a>
        </form>
    </div>



    <nav
      id="mynav"
      class="navbar navbar-expand-lg  navbar-dark position-fixed w-100 z-3 bg-dark"
    >
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img src="../images/engage-photography.png" id="logo" alt="logo"
        /></a>
        <button
          id="menu"
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " href="../index.html">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html">blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="contact.html">contact</a>
            </li>
          </ul>
          <a href="#" class="search-link"
            ><i class="fa-solid fa-magnifying-glass text-white px-2"></i
          ></a>
        </div>
      </div>
    </nav>

    <main>
        <section id="home" class="d-flex justify-content-center align-items-center flex-column">
            <h1 class="text-white" data-aos="fade-down" data-aos-delay="500">contact</h1>
            <p class="pt-2" data-aos="fade-up" data-aos-delay="500"><a href="index.html" class="pe-2 text-decoration-none">home</a>  / <span class="home-blog-text ps-2">blog</span></p>
        </section>

        <section id="contact" class="py-5">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-8">
                        <div class="form-structure" data-aos="fade-right" data-aos-delay="300">
                            <h2 class="text-white pb-3">contact form</h2>
                            <form action="" class="d-flex justify-content-between flex-wrap">
                                <input type="text" class="form-pad p-2 form-style" required placeholder="Name">
                                <input type="email" class="form-pad p-2 form-style" required placeholder="Email">
                                <input type="text" class="w-100 my-3 p-2 form-style" required placeholder="Subject">
                                <textarea name="" id="" rows="7" class="w-100 p-2 form-style" required placeholder="Message"></textarea>
                                <button class="btn btn-dark mt-3">send</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-info" data-aos="fade-left" data-aos-delay="300">
                            <h2 class="text-white">contact information</h2>
                            <p class="py-2">I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                            <p class="py-2">Our contact details:</p>
                            <div class="contact-logo"><i class="fa-solid fa-map"></i> <p>Manchester St 123-78B, Random 7D, UK</p></div>
                            <div class="contact-logo"><i class="fa-solid fa-phone"></i> <p>+46 123 456 789</p></div>
                            <div class="contact-logo"><i class="fa-solid fa-headphones-simple"></i> <p>+37 431 456 789</p></div>
                            <div class="contact-logo"><i class="fa-solid fa-envelope"></i> <p>hello@sitename.com</p></div>
                        </div>
                    </div>
                </div>
            </div>

            
        </section>
      <footer id="footer">
        <div class="container">
          <div
            class="footer-content p-5 d-flex justify-content-center align-items-center flex-column"
          >
            <img src="../images/engage-photography.png" alt="" />
            <p class="py-4">Copyright 2017. All rights reserved.</p>
            <span class="d-flex justify-content-between align-items-center">
              <a
                href="https://www.linkedin.com/in/abdelrhmankhaledmohamed76/"
                target="_blank"
                ><i class="fa-brands fa-linkedin-in linkedin"></i
              ></a>
              <a
                href="https://www.instagram.com/abdalrhman.khaled76/"
                target="_blank"
                ><i class="fa-brands fa-instagram instagram"></i
              ></a>
              <a
                href="https://www.facebook.com/profile.php?id=100007781251288"
                target="_blank"
                ><i class="fa-brands fa-facebook-f facebook"></i
              ></a>
              <a href="https://github.com/AbdelrhmanKhaled76" target="_blank"
                ><i class="fa-brands fa-github github"></i
              ></a>
            </span>
          </div>
        </div>
      </footer>

    </main>
    <!-- java script import -->
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>